.bzRuyo {
  padding-left: 0px !important;
    padding-right: 0px !important;
    

}
.cPHygs {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  box-sizing: border-box;
  align-items: center;
  padding: 4px 0px 4px 0px !important;
  width: 100%;
  justify-content: flex-end;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  min-height: 52px;
}